body {
    background-color: #fcf5eb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #1c1e21;
}

* {
    box-sizing: border-box;
}

.logoImg {
    width: 130px;
    height: 30px;
}

.whatsappDownload {
    width: auto;
    height: 58px;
    display: flex;
    align-items: center;
}

.whatsappWeb {
    width: 112px;
    height: 18px;
    margin: 0px 20px;
}

.downloadButton,
.chatGraphics-description-download {
    background-color: #25d366;
    border: 1px solid #1c1e21;
    border-radius: 50px;
    padding: 16px 28px;
    height: 52px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    width: 156px;
}

.chatGraphics-description-download:link {
    color: black;
    text-decoration: none;
}

.navItems {
    padding: 26px;
}

.navItems-area {
    display: flex;
}

header {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.nav_header {
    position: fixed;
    top: 0;
    background-color: rgb(252, 245, 235, 0.8);
    width: 100%;
    backdrop-filter: blur(4px);
    z-index: 3;
}

.privateImage-area {
    margin-top: 80px;
    padding: 32px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.privateImage {
    width: 100%;
    border-radius: 25px;
}

.chatGraphicsArea {
    position: absolute;
    width: 1080px;
    height: 752px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatGraphics-description {
    width: 354px;
    height: 323px;
    margin-right: 23px;
    color: #fff;
}

.chatGraphics {
    width: 436px;
    height: 600px;
}

.chatGraphics-description-head {
    font-size: 80px;
}

.chatGraphics-description-info {
    margin: 18px 0px 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.chatGraphics-description-download {
    margin: 0;
    border: none;
}

.chatGraphics-reactionArea {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.chatGraphics-reactionLove,
.chatGraphics-reactionSad {
    position: absolute;
    top: 25px;
}

.chatGraphics-reactionSad {
    top: 238px;
}

.terms {
    padding: 12px 0px;
    font-size: 12px;
    color: #5E5E5E;
    align-self: flex-end;
}

.chatHeads {
    margin: 0px 16px;
    padding: 0px 32px;
}

.chatHeadsImage1 {
    width: 100%;
}

.privateDescriptionLarge {
    margin: 0px 175px;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.privateDescriptionLarge-text {
    width: 95%;
    font-size: 48px;
    font-weight: 400;
}

.calls {
    margin: 88px 171px 56px;
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 658px;
}

.voiceDescription {
    width: 450px;
    height: 658px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.voiceDescription-head {
    font-size: 60px;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 0;
}

.voiceDescription-text {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 16px;
    letter-spacing: -0.01em;
}

.voiceDescription-learnMore {
    width: auto;
    height: 16px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.voiceDescription-learnMore:hover {
    color: #25d366;
}

.arrowRight {
    margin-left: 13px;
    font-size: 13px;
}

.learnMore-underline {
    text-decoration-color: #25d366;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.voiceImage {
    display: flex;
    align-items: center;
}

.speakFreely {
    height: 846px;
    background-color: #111B21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speakFreely-area {
    width: 1080px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.speakFreely-img {
    width: 528px;
    height: 650px;
}

.speakFreely-descriptionArea, keepInTouch-descriptionArea {
   width: 450px; 
   height: 290px;
   color: #fff;
}

.speakFreely-description-title {
    font-size: 60px;
    line-height: 66px;
    font-weight: 400;
}

.speakFreely-description-title-2 {
    color: #25d366;
}

.speakFreely-description {
    width: 450px;
    height: 100px;
}

.keepInTouch {
    height: 843px;
}

.keepInTouch-area {
    width: 1080px;
    height: 651px;
}

.keepInTouch {
    color: #1c1e21;
}

.keepInTouch-area, .keepInTouch {
    background-color: #fcf5eb;
}