body {
    background-color: #fcf5eb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #1c1e21;
}
nav {
    height: 80px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .logo {
    width: 320px;
} */

.logoImg {
    width: 130px;
    height: 30px;
}

.whatsappDownload {
    width: auto;
    height: 58px;
    display: flex;
    align-items: center;
}
.whatsappWeb {
    width: 112px;
    height: 18px;
    margin: 0px 20px;
}

.downloadButton {
    background-color: #25d366;
    border: 1px solid #1c1e21;
    border-radius: 50px;
    padding: 16px 28px;
    height: 52px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    width: 156px;
}

.navItems {
    padding: 26px;
}

.navItems-area {
    display: flex;
}

header {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}